[submodule "Android/Framework/libeng/jni/libeng"]
	path = Android/Framework/libeng/jni/libeng
	url = https://github.com/v-pascal/libeng.git
[submodule "Android/AppTest/jni/Sources"]
	path = Android/AppTest/jni/Sources
	url = https://github.com/v-pascal/Sources.git
